<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery.js"></script>
  <title>DU BERGUR</title>
  <link href="assets/css/style.css" rel="stylesheet">
  <script src="/assets/js/burger.js"></script>

</head>

<body>
  <div class="header">
    <div class="header-body">
      <h2>welcome to BERGUR</h2>
      <img style="width:200px;" src="assets/images/20150702-sous-vide-hamburger-anova-primary-1500x1125.jpg">
{{!-- <iframe src="//coub.com/embed/uynlo?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen frameborder="0" width="160" height="90" allow="autoplay"></iframe><script async src="//c-cdn.coub.com/embed-runner.js"></script>  <div class="burger-div"> --}}

    {{{ body }}}

  </div>

  <div class="burgerDiv box">
    <div>

      <h2>Add A Burger!</h2>

      <form class="formUpdate">

        <div class="burgerForm">
          <p>Enter a burger you want to order and click the Submit Order button.</p>
          <input type="text" id="ca" name="burger">
        </div>

        <button id="addBurger" type="submit">Submit Order</button>
      </form>

    </div>

  </div>
</body>

</html>